# Created by https://www.gitignore.io/api/osx,rails

### OSX ###
.DS_Store
### Rails ###
*.rbc
.rspec
/log/*
!/log/.keep
/tmp
/public/system
/coverage/
/spec/tmp
**.orig
## Environment normalization:
/.bundle
/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history
.env

config/application.yml
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
