<%= @resource.name %>様、ご登録頂きありがとうございます。<br>
code4startupでは様々なプログラミング学習サービスを提供しております。<br>
ご登録を機にプログラミングの楽しさに触れて頂き、<%= @resource.name %>様のプログラミングレベル向上のお役に立てれば幸いです。<br>

<p>====================================</p>

<p>Enjoy Programming!</p>

<p>code4startup@librex.co.jp</p>

<p>http://code4startup@librex.co.jp</p>

<p>www.facebook.com/code4startup japan</p>

<p>====================================</p>