<footer class="page-footer grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">C4S-JP</h5>
        <p class="grey-text text-lighten-4">C4S-JPは、Code4Startup.comと提携した日本のサイトです。実在する素晴らしいＷＥＢサイトを参考に、サイトの作り方（プログラミング方法）を動画で学ぶことができます。C4S-JPは、
日本独自コンテンも追加して行く予定です。  </p>
      </div>
      
      <div class="col l3 s12">
        <h5 class="white-text">Navigate</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">料金＆特徴(準備中)</a></li>
          <li><a class="grey-text text-lighten-3" href="pages/privacypolicy">プライバシーポリシー</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">利用規約(準備中)</a></li>
        </ul>
      </div>
      
      <div class="col l3 s12">
        <h5 class="white-text">Social</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Twitter(準備中)</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Facebook(準備中)</a></li>
        </ul>
      </div>
      
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Copyright Code4Startup-JP
    </div>
  </div>
</footer>