<div class="card z-depth-3">
  <div class="card-content black-text">
  	<div class="row">
	    <div class="col m12">
			<h4>プライバシーポリシー</h4>
			<br>
			
			<h5>個人情報について</h5>
			<p>ＬＩＢＲＥＸ合同会社（以下、「当社」と記載）は、本サイトの利用者（以下、「ユーザー」と記載）のプライバシーを尊重し、ユーザーの個人情報の管理に細心の注意を払うものとします。</p>
			<p>当社は、責任をもってユーザーの個人情報を保護するための方針を以下のとおり定め、施策の実施・維持、それらの継続的な改善を行います。当社は、個人情報保護に関する法令及びその他の規範を遵守します。</p>

			<h5>個人情報の定義</h5>
			<p>本プライバシーポリシーにおいて「個人情報」とは、個人情報保護法にいう、生存する個人に関する情報であって、当該情報に含まれる氏名、住所、電話番号、メールアドレス及びその他の記述等により特定の個人を識別することができるもの（他の情報と容易に紹介することができ、それにより特定の個人を識別することができるものを含む）をいいます。</p>

			<h5>個人情報の収集</h5>
			<p>当社は、個人情報の入手を適法かつ公正な手段によって行うものとし、ユーザーの意思に反する不正な入手を行わないものとします。</p>
			<p>当社は、個人情報を収集する場合、その利用目的をあらかじめ通知又は公表するものとします。</p>

			<h5>クッキーなどの使用について</h5>
			<p>当社は、登録ユーザー情報のほか、ユーザーのＩＰアドレス、クッキー情報やユーザーが閲覧したページ、ユーザーの利用環境などの情報をユーザーのブラウザから自動的に受け取り、サーバに記録します。</p>
			<p>ユーザーは、ブラウザの設定でクッキー等を無効にすることにより、当社のクッキー等の使用を拒否することができます。ただし、クッキー等を無効にした場合、同ユーザーは、各サービスの利用状況を確認する等の際に、何らかの不具合が生じる可能性があることに注意する必要があります。</p>

			<h5>個人情報の利用目的</h5>
			<p>当社は、ユーザーから収集した個人情報等を以下の目的のために使用するものとします。</p>
			<p>（１）	ユーザーからのお問い合わせ、ご相談に対する回答及び返信をする場合。</p>
			<p>（２）	ユーザーからの見積もり依頼等に対する御見積もり書、請求書及び資料等の送信を行う場合。</p>
			<p>（３）	ユーザーに対して当社のサービスに対する意見、感想の提供を求める場合。</p>
			<p>（４）	本サイト内各規約等に違反する行為又はその恐れのある行為を行ったユーザーに対して注意又は警告を行う場合。</p>
			<p>（５）	当社に対する債務を有するユーザーに同債務の履行を要求する場合。</p>

			<h5>個人情報の第三者提供</h5>
			<p>当社は、収集した個人情報等を個人情報保護法及び行政書士法に基づき第三者に対して開示又は提供しないものとします。ただし、以下の各号に該当する場合は、この限りではありません。</p>

			<p>（１）	法令により開示が認められている場合。</p>
			<p>（２）	法令により開示が求められた場合。</p>
			<p>（３）	人の生命、身体又は財産の保護のために必要がある場合であって、本人の同意を得ることが困難である場合。</p>
			<p>（４）	警察、検察、裁判所、消費者センター等公的機関等によって開示を求められた場合。</p>

			<h5>個人情報等の管理</h5>
			<p>当社は、個人情報保護法及び行政書士法に基づき個人情報等を厳重に管理し機密保持に努めるものとします。</p>

			<h5>個人情報等の最新性、正確性の維持</h5>
			<p>当社は、利用目的の達成に必要な範囲内において、ユーザーの個人情報等を正確かつ最新の内容に保つよう努めるものとします。</p>

			<h5>ユーザーによる照会等</h5>
			<p>当社は、ユーザーにより当該ユーザーの個人情報の照会、訂正、追加、削除、利用の停止又は消去を求められた場合、本人確認を行うものとします。なお、当社は、ユーザー本人による照会等で本人であると当社が判断した場合、合理的な期間内に同照会等に対応するものとします。</p>
			<p>ご自身の個人情報を削除したい場合には、code4startup@librex.co.jpまでご連絡ください。</p>

			<h5>利用目的等の変更</h5>
			<p>個人情報の利用目的及び管理方法等の変更等、本プライバシーポリシーの変更は、当社が変更後のプライバシーポリシーを本サイト上に掲載した時点で効力を生じるものとします。</p>

			<h5>免責</h5>
			<p>当社は、第三者によるユーザーの個人情報の取得があった場合でも、以下に該当する場合は、一切責任を負いません。</p>
			<p>（１）	ユーザー自身が本サイトの機能又は別の手段を用いて第三者に個人情報を明らかにした場合。</p>
			<p>（２）	ユーザー自身が同第三者の個人情報の取得について追認した場合。</p>
			<p>（３）	本サイト内のリンク先である他サイトから個人情報を取得した場合。</p>
			<p>なお、当社及び本サービスでは、お客様のＩＤ及びパスワードの管理については関与いたしません。お客様の不注意によりＩＤ及びパスワードが第三者に利用された場合は、ご登録いただいている個人情報を閲覧される可能性がございますので、ご利用にあたっては、使用及び管理について責任を負うと共に、使用上の過誤又は第三者による不正使用等について十分注意をしてください。</p>

			<h5>管理責任者</h5>
			<p>当社における個人情報の管理者は、以下の者とします。個人情報に関するお問い合わせ先も同様とします。</p>
			<br>
			<p>事業者名：ＬＩＢＲＥＸ合同会社</p>
			<p>運営責任者：代表　小牧　信貴</p>
			<p>問い合わせ：code4startup@librex.co.jp</p>

	    </div>
    </div> 
  </div>
</div>