@import "materialize";
@import "toastr";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.container {
	width: 100%;
}

.avatar-small {
	width: 50px;
}

.avatar-medium {
	width: 80px;
}

.mask {
	z-index: 99;
}


.intro {
    padding: 144px 0;
    background: image-url("slide.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
