<!-- プランを選択する画面 -->
<% @plans.each do |plan| %>
  <% if plan.id == 1 %>
    <h1><%= button_to "バリュープラン", new_credit_card_path(plan) %></h1>
    <% elsif plan.id == 2 %>
    <h1><%= button_to "無制限プラン",new_credit_card_path(plan) %></h1>
  <% end %>
  <%= plan.name %>
  <%= plan.amount  %>円
<% end %>
